extends layout
block content
  .home( data=`${user_id}`)
    .container.navbar-container
      .row.navbar
        .five.columns.home-title
          span.title
            h3
              |SocketChat
        .seven.columns.home--search-bar
          input.home--search-input(type="email" placeholder="test@mailbox.com" id="exampleEmailInput")
          button.home--search_button
            i.fa.fa-search
      h5.row.post-navbar Chat
        .new-chat.fa.fa-plus 
    .massages.container
      .row.message-container
        .three.columns.message-history--items
          each chatroom in user_chat_rooms
            .chatroom-name= chatroom.name
            
        .nine.columns.message-box-wrapper
          .chatroom-header
            div.conversation-content
              span.conversation-title
              span.current-conversation= chat_room_title || 'No Chats Yet :['
          .chatroom-content
            each message in chat_room_messages
              if message.client_id === 1
                .message-text.mine= message.message_body
              else
                .message_text.theirs= message.message_body
          .chatroom-footer
            textarea.u-full-width(placeholder="What's the 411?" id="newMessage")
